* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.1)), url('https://images.unsplash.com/photo-1504851149312-7a075b496cc7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=705&q=80');
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    flex-direction: column;
    color: rgb(245, 245, 245);
}

.navbar h1 {
    margin-top: 10px;
    font-size: 7.8vmin;
}

.para {
    color: whitesmoke;
    text-align: center;
    margin-top: 30px;
    word-spacing: .6rem;
    font-family: 'Kaushan Script';
    font-size: 4.7vmin;
}


.span2 {
    font-weight: bold;
}

.start {
    font-weight: bold;
    color: rgb(100, 144, 239);
    /* font-family: 'Kaushan Script'; */
    text-transform: uppercase;
    font-size: 5vmin;
}

.notice {
    text-align: center;
    font-size: 3.8vmin;
    word-spacing: .15rem;
    color: whitesmoke;
    margin-top: 80px;
}

.line {
    width: 32vmin;
    height: .3vmin;
    border-radius: 10px;
    margin: 3px auto;
    margin-bottom: 10px;
    background-color: rgb(223, 220, 148);
}

.gallery-content {
    margin-top: 28px;
    display: flex;
    justify-content: center;
}

.gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery a {
    width: 43%;
    margin: 40px;
}

.gallery img {
    box-shadow: 7px 7px 15px rgb(0, 0, 0);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100%;
    width: 100%;
}

/* Footer Section */

.copyright {
    display: flex;
    flex-direction: column;
    background-color: #161628;
    color: whitesmoke;
    padding: 1rem;
}

.copyright p {
    font-size: 3.5vmin;
    margin-left: .27rem;
}

.text-color{
    color: aqua;
}

/* Responsive  */

@media only screen and (max-width:600px) {
    .gallery a {
        width: 88%;
        margin: 25px;
    }
}

@media (min-width: 600px) and (max-width: 1120px) {
    .gallery a {
        width: 42%;
        margin: 16px;
    }
}
